.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

.footer__column-link:hover {
  color: #75bbfd;
  opacity: .5;
  transition: 2s;
}
