.body {
  margin: 0;
  padding: 0;
}

a:hover {
  color: #75bbfd;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  display: flex;
}

.logo-place-header {
  top: 30px;
  left: 64px;
  position: absolute;
}

.pic__logo-place-header {
  width: 183px;
  height: 32px;
  z-index: 1;
}

.header-title {
  display: flex;
  align-items: center;
  width: 730px;
  margin-left: 64px;
  z-index: 2;
}

.text__header-title {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header-subtitle {
  width: 388px;
  bottom: 30px;
  left: 64px;
  position: absolute;
  z-index: 2;
}

.text__header-subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: bold;
}

.header-link {
  text-decoration: none;
}

.main-illustration {
  bottom: 0;
  right: 0;
  display: flex;
  position: absolute;
}

.image__main-illustration {
  width: 765px;
  height: 608px;
  z-index: 1;
}

.square-pic {
  background-color: #2f80ed;
  width: 568px;
  height: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}

.description {
  margin: 100px 0 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
}

.brief__two-columns {
  margin: 0;
}

.text__brief__twocolumns {
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #000ff0;
}

.paragraph {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.second-line__paragraph {
  margin: 30px 0 30px;
}

.digits {
  margin: 100px auto;
}

.section-title {
  margin: auto;
  text-align: center;
  width: 60%;
}

.text__section-title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  margin:auto;
  text-align: center;
  margin-top: 20px;
  width: 60%;
}

.text__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: auto;
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.cell {
  width: 250px;
  margin-top: 60px;
}

.text__heading__cell {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.text__text_cell {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}

.feynman {
  height: 790px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
}

.title__feynman {
  width: 648px;
  text-align: center;
  z-index: 1;
}

.text__title__feynman {
  margin: 0;
  padding: 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
}

.subtitle__feynman {
  display: block;
  margin-top: 70px;
  z-index: 1;
}

.text__subtitle__feynman {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.link__feynman {
  position: absolute;
  top: 50%;
  right: 48px;
  z-index: 1;
}

.link__link__feynman {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  z-index: 1;
}

.section-title__theme_dark {
  padding-top: 90px;
  width: 60%;
  text-align: center;
}

.text__section-title__theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle__theme_dark {
  margin-top: 20px;
  width: 60%;
  text-align: center;
}

.text__section-subtitle__theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.heading__cell__table__theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.text__cell__table__theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}

.table__theme_dark {
  width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  padding-bottom: 90px;
}

.cell__table__theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
  }

.triangle {
  display: block;
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  display: flex;
  background-color: #1f1f1f;
  color: #fff;
}

.columns__footer {
  width: 90%;
  min-height: 250px;
  display: flex;
  margin: 60px auto 40px;
  justify-content: space-between;
}

.column-content-copyright__columns__footer {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.column-content-info__columns__footer {
  display: flex;
  flex-direction: column;
}

.columns-social__columns__footer {
  display: flex;
  flex-direction: column;
}

.logo-place__footer {
  width: 183px;
  height: 35px;
}

.author__footer {
  margin: 18px 0;
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.first-line__column-content-info__columns__footer {
  margin-top: 20px;
}

.third-line__column-content-info__columns__footer {
  margin-bottom: 20px;
}

.social-icons {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.facebook-link {
  margin-top: 20px;
}

.instagram-link {
  margin-bottom: 16px;
}

.column-headings {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
}

.footer-links {
  color: #fff;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
}
